@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}
body{
    background-image: linear-gradient(to right, #9AEBA3,#45C4B0 20%,#13678A);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753);
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #13678A;
    text-shadow: 1px 1px 0  #0f4f6ba4;
}

h2{
    color: #45C4B0;
}
p{
    text-align: justify;
}
