@charset "UTF-8";
/* Todas as midias */

/*  Typical Device Breakpoints
pequenos dispositivos: 320 - 480px
Celulares Padrão: 481px - 767px
Tablet: 768px - 1024px
Desktop: 1025px - 1280px
GRANDES TELAS: 1281px - 1536px
Ultra-wide/4k: 1536px+
*/

@media screen and (min-width:768px) and (max-width: 1024px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;

    }

    a:hover{
        transition: transform 0.3s;
        transform: translate(-3px,-3px);
    }

    article{
        width: 500px;
    }

    ul li {
        display: inline-block;
        margin-top: 20px;
    }

    main {
        width: 75vw;
    }

    li a {
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1025px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    a:hover{
        transition: transform 0.3s;
        transform: translate(-3px,-3px);
    }


    article{
        width: 600px;
    }

    ul li {
        display: inline-block;
        margin-top: 20px;
    }

    main {
        width: 700px;
    }

    li a {
        border-radius: 10px;
        margin-bottom: 20px;
    }
}
