@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    background-image: linear-gradient(to left, black, rgb(63, 25, 3));
}


span#burguer{

    color: white;
    background-color: rgb(51, 23, 0);
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}




header h1 {

    text-shadow: 1px 1px rgb(255, 255, 255);
    text-align: center;
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ul li {
    display: block;
    margin: auto;


}

li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 12px;
    font-weight: bold;
}

a:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: rgba(255, 255, 255, 0.664);
    color: rgba(78, 28, 8, 0.877);
}

menu{
    display: none;
}

menu ul {
    list-style-type: none;
    text-align: center;

}

body{
    background-image: linear-gradient(to left, black, rgb(63, 25, 3));
}

main {
    width: 90%;
    background-color: darkgrey;
    margin: auto;


}

article{
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
}

article > p {
    text-indent: 20px;
    font-size: large;
    text-align: justify;
    margin-top: 20px;
}


article h2 {

    text-align: center;
    color: rgba(255, 255, 255, 0.562);
    text-shadow: 1px 1px rgb(255, 255, 255);
    background-color: rgba(83, 32, 12, 0.589);
    padding: 10px 0px 

}

footer p {
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
}
